[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.checkbox, .checkbox label {
	padding-left: 0px; !important
}

.checkbox {
	margin-top: 0px; !important
}

.checkbox input {
	display: block; !important
}

.right {
  float: right;
}

/* new styles */

div.fs-iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
div.fs-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.sidebar ul.nav {
	margin-bottom: 2em;
	margin-top: 0;
}
.sidebar .sidebar-wrapper {
	padding-bottom: 0;
}
.sidebar div.logo {
	padding: 0;
}


.track-outline {
	min-height: 192px;
	background-color: #ccc;
	border-radius: 10px;
}

fieldset {
	margin-bottom: 3em;
}

.scroll-pre pre {
  height: auto;
  max-height: 650px;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
	margin-bottom: 0;
}

table.simple-tbl td,
table.simple-tbl th {
	padding: 5px 35px 5px 0;
}

.btn-danger,
.btn-danger:hover {
  background-color: #d00;
  border-color: #d00;
}


/* 'full screen mode' for plugin display (sTracker) */
.plugin.main-panel > .content,
.plugin .container-fluid {
	padding: 0;
}
.plugin.main-panel > .navbar,
.plugin footer {
	display: none;
}

.ats-switch span.switch-left {
	background-color: #d00;
}


/* z-index on parent container messes with modal */
.main-panel {
  z-index: initial !important;
}
