<form ng-submit="submit()" name="form" data-toggle="validator">

	<fieldset class="top10">
		<legend>Lobby Options</legend>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" show-errors>
					<label>Server Name</label>
					<input class="form-control" name="name" ng-model="server.NAME" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<label>Public</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="server.REGISTER_TO_LOBBY"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Server Password</label>
					<input type="password" class="form-control" ng-model="server.PASSWORD"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Admin Password</label>
					<input type="password" class="form-control" ng-model="server.ADMIN_PASSWORD"/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" show-errors>
					<label>Max Clients</label>
					<input class="form-control" type="number" min="1" max="256" name="max_clients" ng-model="server.MAX_CLIENTS" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<label>Locked Entry List</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="server.LOCKED_ENTRY_LIST"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<label>Loop Session</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="server.LOOP_MODE"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<label>Pickup Mode Enabled</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="server.PICKUP_MODE_ENABLED"></toggle-switch>
					</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group show-errors">
					<label>Result Screen Time</label>
					<input class="form-control" type="number" min="10" max="65535" name="result_screen_time" ng-model="server.RESULT_SCREEN_TIME" required>
				 </div>
			</div>
		</div>
	</fieldset>


	<fieldset class="top10">
		<legend>Voting and Banning</legend>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" show-errors>
					<label>Session Vote Quorum</label>
					<input class="form-control" type="number" min="0" max="101" name="voting_quorum" ng-model="server.VOTING_QUORUM" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>Voting Duration</label>
					<input class="form-control" type="number" min="10" max="30" name="vote_duration" ng-model="server.VOTE_DURATION" required/>
				</div>
			</div>
			<!-- todo: whats this?
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>Sleep Time</label>
					<input class="form-control" name="sleep_time" ng-model="server.SLEEP_TIME" required/>
				</div>
			</div>
		-->
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" show-errors>
					<label>Kick Vote Quorum</label>
					<input class="form-control" type="number" min="0" max="101" name="kick_vote_quorum" ng-model="server.KICK_QUORUM" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>Max Contacts Per KM</label>
					<input class="form-control" type="number" min="-1" max="128" name="max_contacts_per_km" ng-model="server.MAX_CONTACTS_PER_KM" required>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>Blacklist Mode</label>
					<select class="form-control" name="blacklist_mode" ng-model="server.BLACKLIST_MODE">
						<option value="0">Kick Player</option>
						<option value="1">Ban Until Restart</option>
						<option value="2">Ban and Forget</option>
					</select>
				</div>
			</div>
		</div>
	</fieldset>


	<fieldset class="top10">
		<legend>Connection</legend>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group" show-errors>
					<label>UDP Port</label>
					<input class="form-control" type="number" min="1" max="65535" name="udp_port" ng-model="server.UDP_PORT" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>TCP Port</label>
					<input class="form-control" type="number" min="1" max="65535" name="tcp_port" ng-model="server.TCP_PORT" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>HTTP Port</label>
					<input class="form-control" type="number" min="1" max="65535" name="http_port" ng-model="server.HTTP_PORT" required/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>Packet (hz)</label>
					<input class="form-control" type="number" min="10" max="35" name="client_send_interval_hz" ng-model="server.CLIENT_SEND_INTERVAL_HZ" required/>
				</div>
			</div>
		</div>
	</fieldset>


	<fieldset class="top10">
		<legend>Plugin</legend>

		<div class="row">
			<div class="col-sm-2">
				<label></label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model=""></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>UDP Local Port</label>
					<input class="form-control" type="number" min="0" max="65535" string-to-number name="udp_local_port" ng-model="server.UDP_PLUGIN_LOCAL_PORT"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>IP Address</label>
					<input class="form-control" name="udp_address" ng-model="server.UDP_PLUGIN_ADDRESS"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group" show-errors>
					<label>Auth Address</label>
					<input class="form-control" type="number" min="0" max="65535" name="udp_local_port" ng-model="server.AUTH_PLUGIN_ADDRESS"/>
				</div>
			</div>
		</div>

	</fieldset>


	<div class="row top30 bottom30">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-danger btn-sm">Save Changes</button>
		</div>
	</div>

</form>
