<form ng-submit="submit()" name="form" data-toggle="validator">

	<fieldset class="top10">
		<legend>Session</legend>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Sessions</label>
					<select class="form-control" ng-model="selectedSession" ng-options="session as session.type for session in sessions"></select>
				</div>
			</div>
			<div class="col-sm-2">
				<label>Enabled</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="selectedSession.enabled"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-8" ng-show="selectedSession.enabled">
				<div class="col-sm-3">
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" name="session_name" ng-model="selectedSession.data.NAME"/>
					</div>
				</div>
				<div class="col-sm-3" ng-hide="selectedSession.hideTime">
					<div class="form-group">
						<label>Time</label>
						<input class="form-control" name="session_time" ng-model="selectedSession.data.TIME"/>
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideLaps">
					<div class="form-group">
						<label>Laps</label>
						<input class="form-control" name="session_laps" ng-model="selectedSession.data.LAPS"/>
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideWaitTime">
					<div class="form-group">
						<label>Wait Time</label>
						<input class="form-control" name="session_wait_time" ng-model="selectedSession.data.WAIT_TIME"/>
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideJoinType">
					<div class="form-group">
						<label>Join Type</label>
						<select class="form-control" ng-model="selectedSession.data.IS_OPEN">
							<option value="0">Close</option>
							<option value="1">Open</option>
							<option value="2">Close at start</option>
						</select>
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideWaitPercentage">
					<div class="form-group">
						<label>Wait Percentage</label>
						<input class="form-control" name="qualify_max_wait_perc" ng-model="server.QUALIFY_MAX_WAIT_PERC">
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideRacePitWindowStart">
					<div class="form-group">
						<label>Race Pit Window Start</label>
						<input class="form-control" name="race_pit_window_start" ng-model="server.RACE_PIT_WINDOW_START">
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideRacePitWindowEnd">
					<div class="form-group">
						<label>Race Pit Window End</label>
						<input class="form-control" name="race_pit_window_end" ng-model="server.RACE_PIT_WINDOW_END">
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideExtraLap">
					<div class="form-group">
						<label>Extra Lap</label>
						<select class="form-control" ng-model="server.RACE_EXTRA_LAP">
							<option value="1">Yes</option>
							<option value="0">No</option>
						</select>
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideRaceOverTime">
					<div class="form-group">
						<label>Race Over Time</label>
						<input class="form-control" name="session_race_over_time" ng-model="server.RACE_OVER_TIME"/>
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideReversedGridRacePositions">
					<div class="form-group">
						<label>Reversed Grid Race Positions</label>
						<input class="form-control" name="reversed_grid_race_positions" ng-model="server.REVERSED_GRID_RACE_POSITIONS">
					</div>
				</div>

				<div class="col-sm-3" ng-hide="selectedSession.hideCanJoin">
					<label>Can Join</label>
					<div class="checkbox">
						<label>
							<toggle-switch class="switch-large" ng-model="selectedSession.data.IS_OPEN"></toggle-switch>
						</label>
					</div>
				</div>

			</div>
		</div>

	</fieldset>

	<fieldset class="top10">
		<legend>Booking</legend>

		<div class="row">
			<div class="col-sm-2">
				<label>Enabled</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="selectedSession.enabled"></toggle-switch>
					</label>
				</div>
			</div>

			<div class="col-sm-3" ng-hide="">
				<div class="form-group">
					<label>Booking Time</label>
					<input class="form-control" name="session_time" ng-model="selectedSession.data.TIME"/>
				</div>
			</div>


		</div>

	</fieldset>

	<fieldset class="top10">
		<legend>Practice</legend>

		<div class="row">
			<div class="col-sm-2">
				<label>Enabled</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="selectedSession.enabled"></toggle-switch>
					</label>
				</div>
			</div>


			<div class="col-sm-3" ng-hide="">
				<div class="form-group">
					<label>Practice Time</label>
					<input class="form-control" name="session_time" ng-model="selectedSession.data.TIME"/>
				</div>
			</div>

		</div>

	</fieldset>

	<fieldset class="top10">
		<legend>Qualify</legend>

		<div class="row">
			<div class="col-sm-2">
				<label>Enabled</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="selectedSession.enabled"></toggle-switch>
					</label>
				</div>
			</div>
		</div>

	</fieldset>

	<fieldset class="top10">
		<legend>Race</legend>

		<div class="row">
			<div class="col-sm-2">
				<label>Enabled</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="selectedSession.enabled"></toggle-switch>
					</label>
				</div>
			</div>
		</div>

	</fieldset>



</form>
