<form ng-submit="submit()" name="form" data-toggle="validator">

	<fieldset>
		<legend>Booking</legend>

		<div class="row">
			<div class="col-sm-2">
				<label></label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="booking.ENABLED"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="booking.ENABLED">
				<div class="form-group">
					<label>Booking Time</label>
					<input class="form-control" type="number" min="1" max="65535" name="booking_time" ng-model="booking.TIME"/>
				</div>
			</div>
		</div>

	</fieldset>


	<fieldset>
		<legend>Practice</legend>

		<div class="row">
			<div class="col-sm-2">
				<label></label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="practice.ENABLED"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="practice.ENABLED">
				<div class="form-group">
					<label>Practice Time</label>
					<input class="form-control" type="number" min="1" max="65535" name="practice_time" ng-model="practice.TIME" />
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="practice.ENABLED">
				<label>Can Join</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="practice.IS_OPEN"></toggle-switch>
					</label>
				</div>
			</div>
		</div>

	</fieldset>


	<fieldset>
		<legend>Qualify</legend>

		<div class="row">
			<div class="col-sm-2">
				<label></label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="qualify.ENABLED"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="qualify.ENABLED">
				<div class="form-group">
					<label>Qualify Time</label>
					<input class="form-control" type="number" min="1" max="65535" name="qualify_time" ng-model="qualify.TIME"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="qualify.ENABLED">
				<label>Can Join</label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="qualify.IS_OPEN"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="qualify.ENABLED">
				<div class="form-group">
					<label>Wait Percentage</label>
					<input class="form-control" type="number" min="1" max="65535" name="qualify_wait" ng-model="server.QUALIFY_MAX_WAIT_PERC"/>
				</div>
			</div>
		</div>

	</fieldset>


	<fieldset>
		<legend>Race</legend>

		<div class="row">
			<div class="col-sm-2">
				<label></label>
				<div class="checkbox">
					<label>
						<toggle-switch class="switch-large" ng-model="race.ENABLED"></toggle-switch>
					</label>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="race.ENABLED">
				<div class="form-group">
					<label>Laps</label>
					<input class="form-control" type="number" min="0" max="65535" name="race_laps" ng-model="race.LAPS"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1" ng-show="race.ENABLED">
				<div class="form-group">
					<label>Join Type</label>
					<select class="form-control" ng-model="race.IS_OPEN">
						<option value="0">Close</option>
						<option value="1">Open</option>
						<option value="2">Close at start</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row" ng-show="race.ENABLED">
			<div class="col-sm-2" ng-hide="">
				<div class="form-group">
					<label>Wait Time</label>
					<input class="form-control" type="number" min="20" max="65535" name="race_wait_time" ng-model="race.WAIT_TIME"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Race Time</label>
					<input class="form-control" type="number" min="1" max="65535" name="race_time" ng-model="race.TIME"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Race Over Time</label>
					<input class="form-control" type="number" min="30" max="65535" name="race_over_time" ng-model="server.RACE_OVER_TIME"/>
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Extra Lap</label>
					<div class="checkbox">
						<label>
							<toggle-switch class="switch-large" ng-model="server.RACE_EXTRA_LAP"></toggle-switch>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-show="race.ENABLED">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Reversed Grid</label>
					<input class="form-control" type="number" min="-1" max="32767" name="reversed_grid_race_positions" ng-model="server.REVERSED_GRID_RACE_POSITIONS">
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Race Pit Window Start</label>
					<input class="form-control" type="number" min="0" max="65535" name="race_pit_window_start" ng-model="server.RACE_PIT_WINDOW_START">
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Race Pit Window End</label>
					<input class="form-control" type="number" min="0" max="65535" name="race_pit_window_end" ng-model="server.RACE_PIT_WINDOW_END">
				</div>
			</div>
		</div>
	</fieldset>


	<div class="row ">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-danger">Save Changes</button>
		</div>
	</div>

</form>
