<pre>

todo:
- dark theme
-

units:
- km / miles
- time: 12hr vs 24hr
- temps in C/F



gui todo:
- set min and max (validations)
- help overlay for each controls


unknowns:
[original software]
- weather claims to be one of random per session, need test

[original fork]
- how max client works
- what sleep time does (in banning / advanced settings)

Missing controls:
- Settings: Dynamic Track, dropdown
- Settings: Pickup locked entry List
- Session/Weathers: Time of Day multiplier "Multiplier of time of day" (value between 1 and 10)

</pre>
