<form ng-submit="submit()" name="form" data-toggle="validator">
	<fieldset class="top10">
		<legend>Time</legend>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group">
					<label>hour</label>
					<input class="form-control" type="number" min="0" max="23" ng-model="hours" name="hours"/>
				</div>
			</div>

			<div class="col-sm-1">
				<div class="form-group">
					<label>minute</label>
					<input class="form-control" type="number" min="0" max="59" ng-model="mins" name="mins"/>
				</div>
			</div>
	  </div>
	</fieldset>


	<fieldset class="top10">
		<legend>Weather and Temperature</legend>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Weather</label>
					<select class="form-control" ng-model="weather.GRAPHICS">
						<option value="3_clear">Clear</option>
						<option value="7_heavy_clouds">Heavy Clouds</option>
						<option value="1_heavy_fog">Heavy Fog</option>
						<option value="5_light_clouds">Light Clouds</option>
						<option value="2_light_fog">Light Fog</option>
						<option value="4_mid_clear">Mid Clear</option>
						<option value="6_mid_clouds">Mid Clouds</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Base Ambient Temp</label>
					<input class="form-control" type="number" min="0" max="45" string-to-number name="base_temperature_ambient" ng-model="weather.BASE_TEMPERATURE_AMBIENT" />
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Ambient Variation</label>
					<input class="form-control" type="number" min="-32768" max="32767" string-to-number name="ambient_variation" ng-model="weather.VARIATION_AMBIENT" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Base Road Temp</label>
					<input class="form-control" type="number" min="-15" max="15" string-to-number name="base_temperature_road" ng-model="weather.BASE_TEMPERATURE_ROAD" />
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Road Variation</label>
					<input class="form-control" type="number" min="-32768" max="32767" string-to-number name="road_variation" ng-model="weather.VARIATION_ROAD" />
				</div>
			</div>
		</div>
	</fieldset>


	<fieldset class="top10">
		<legend>Wind Speed and Direction</legend>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Base Wind Speed (min)</label>
					<!-- todo: cant be higher than max, and vice versa -->
					<input class="form-control" type="number" min="0" max="40" string-to-number name="wind_base_speed_min" ng-model="weather.WIND_BASE_SPEED_MIN" />
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Base Wind Speed (max)</label>
					<!-- todo: cant be lower than min, and vice versa -->
					<input class="form-control" type="number" min="0" max="40" string-to-number name="wind_base_speed_max" ng-model="weather.WIND_BASE_SPEED_MAX" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
					<label>Wind Direction</label>
					<input class="form-control" type="number" min="0" max="359" string-to-number name="wind_base_speed" ng-model="weather.WIND_BASE_DIRECTION" />
				</div>
			</div>
			<div class="col-sm-2 col-sm-offset-1">
				<div class="form-group">
					<label>Wind Direction Variation</label>
					<input class="form-control" type="number" min="0" max="359" string-to-number name="wind_variation" ng-model="weather.WIND_VARIATION_DIRECTION" />
				</div>
			</div>
		</div>
	</fieldset>


	<div class="row top30 bottom30">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-danger btn-sm">Save Changes</button>
		</div>
	</div>

</form>
