<form ng-submit="submit()" name="form" data-toggle="validator">
	<fieldset class="top10">
		<legend>Time</legend>
		<div class="row">
			<div class="col-sm-1">
				<div class="form-group" show-errors>
					<label>hour</label>
					<input class="form-control" type="number" min="0" max="23" ng-model="hours" name="hours"/>
				</div>
			</div>

			<div class="col-sm-1">
				<div class="form-group" show-errors>
					<label>minute</label>
					<input class="form-control" type="number" min="0" max="59" ng-model="mins" name="mins"/>
				</div>
			</div>
	  </div>
	</fieldset>


	<fieldset class="top10">
		<legend>Weather</legend>

		<div class="row">
			<div class="col-sm-12">
				<button type="button" class="btn btn-danger btn-sm" ng-click="addWeather()">Add Weather</button>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" ng-repeat="weather in weatherSettings">
				<div>
					<h4>
						{{$index + 1}}
						<a href="javascript:void(0);" ng-click="removeWeather($index)" title="Remove"><span class="glyphicon glyphicon-remove right" aria-hidden="true"></span></a>
					</h4>
				</div>

				<div class="form-group">
					<label>Graphics</label>
					<select class="form-control" ng-model="weather.GRAPHICS">
						<option value="3_clear">Clear</option>
						<option value="7_heavy_clouds">Heavy Clouds</option>
						<option value="1_heavy_fog">Heavy Fog</option>
						<option value="5_light_clouds">Light Clouds</option>
						<option value="2_light_fog">Light Fog</option>
						<option value="4_mid_clear">Mid Clear</option>
						<option value="6_mid_clouds">Mid Clouds</option>
					</select>
				</div>

				<div class="form-group" show-errors>
					<label>Base Ambient Temp</label>
					<input class="form-control" type="number" string-to-number name="base_temperature_ambient" ng-model="weather.BASE_TEMPERATURE_AMBIENT" required/>
				</div>

				<div class="form-group" show-errors>
					<label>Base Road Temp</label>
					<input class="form-control" type="number" string-to-number name="base_temperature_road" ng-model="weather.BASE_TEMPERATURE_ROAD" required/>
				</div>

				<div class="form-group" show-errors>
					<label>Ambient Variation</label>
					<input class="form-control" type="number" string-to-number name="ambient_variation" ng-model="weather.VARIATION_AMBIENT" required/>
				</div>

				<div class="form-group" show-errors>
					<label>Road Variation</label>
					<input class="form-control" type="number" string-to-number name="road_variation" ng-model="weather.VARIATION_ROAD" required/>
				</div>
			</div>
		</div>

		<!-- todo: Wind speed and direction -->
	</fieldset>

	<div class="row top30 bottom30">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-danger btn-sm">Save Changes</button>
		</div>
	</div>

</form>
